.contato{
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 100%;
    margin-bottom: 40px;
}
.contato .titulo{
    margin-bottom: 20px;
    color: #f91f5bff;
    font-size: 45px;
}
.contato .titulo:hover{
    transition: 0.3s ease-in-out;
    text-shadow: 0 6px 4px #fd5662;
    cursor: pointer;
}
.contato .social .icones {
    display: flex;
    gap: 100px;
}
.contato .social .icones a{
    color: #f91f5bff;
    font-size: 50px;
}