@media (max-width: 800px){
    body{
        width: 100vw;
        height: 100vh;
    }
    .anuncio{
        margin: 0;
    }
    .anuncio .titulo{
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .anuncio .ofertas{
        width: 100%;
        margin: 0 20px 50px;
        gap: 20px
    }
    .anuncio .ofertas p{
        font-size: 14px;
    }
    .conteudo{
        gap: 40px;
        min-height: 100vh;
    }
    .conteudo .produto{
        width: 200px;
    }
    .conteudo .produto img{
        width: px;
    }
    .conteudo .titulo{
        font-size: 14px;
    }
    .conteudo .produto .informacoes {
        font-size: 12px;
    }
    .conteudo .produto .botao{
        padding: 8px 8px; 
        font-size: 8px;
    }
}

@media(max-width: 450px){
    
    .anuncio .ofertas{
        flex-wrap: wrap;
    }
    .anuncio .ofertas p{
        max-width: 140px;
        padding: 10px;
    }
    .conteudo{
        min-height: 100vh;
    }
}
