.anuncio{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.anuncio .titulo{
    margin-bottom: 60px;
    color: #f91f5bff;
    font-size: 45px;
}
.anuncio .titulo:hover{
    transition: 0.3s ease-in-out;
    text-shadow: 0 6px 4px #fd5662;
    cursor: pointer;
}
.anuncio .ofertas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-bottom: 25px;
}
.anuncio .ofertas p{
    width: 200px;
    background-color: rgba(30, 215,96, 1);
    padding: 15px;
    border-radius: 15%;
    cursor: pointer;
}
.anuncio .ofertas p:hover{
    box-shadow: 0 0 20px rgba(30, 215,96, 1);
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.conteudo{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.conteudo .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 15px;
    border-radius: 15px;
}
.conteudo .descontos{
    box-shadow: 0 0 10px rgba(30, 215,96, 1);
}
.conteudo .produto:hover{
    box-shadow: 0 0 20px #000;
    transition: 0.3s ease-in-out;
}
.conteudo .descontos:hover{
    box-shadow: 0 0 20px #f91f5bff;
}
.conteudo .produto img{
    width: 180px;
    height: 239px;
    align-self: center;
    /* border-radius: 8px; */
    margin-bottom: 10px;
}
.conteudo .produto .titulo{
    margin-bottom: 10px;
}
.conteudo .produto .informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}
.conteudo .produto .informacoes .valor{
    background-color: rgba(30, 215,96, 1);
    padding: 3px;
    border-radius: 4px;
}
.conteudo .produto .informacoes .texto{
    color: grey;
}
.conteudo .produto .informacoes .desconto{
    color: rgba(30, 215,96, 1);
    font-weight: bolder;
}
.conteudo .produto .botao{
    background-color: #f91f5bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.conteudo .produto .botao:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}