.anuncio{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.anuncio .titulo{
    margin-bottom: 60px;
    color: #fff;
    font-size: 45px;
}
.anuncio .titulo:hover{
    transition: 0.3s ease-in-out;
    text-shadow: 0 6px 4px #fd5662;
    cursor: pointer;
}
.anuncio .ofertas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.anuncio .ofertas p{
    width: 200px;
    background-color: rgba(248, 100,101, 0.8);
    padding: 15px;
    border-radius: 15%;
    cursor: pointer;
}
.anuncio .ofertas p:hover{
    background-color: #fd5662;
    box-shadow: 0 0 20px #fd5662;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.conteudo{
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.conteudo .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 23, 95, 0.8);
    width: 400px;
    padding: 50px 40px;
    border-radius: 15px;
}
.conteudo .produto:hover{
    box-shadow: 0 0 20px #fd5662;
    transition: 0.3s ease-in-out;
}
.conteudo .produto img{
    height: 350px;
    width: 250px;
    align-self: center;
    border-radius: 8px;
    margin-bottom: 10px;
}
.conteudo .produto .titulo{
    margin-bottom: 10px;
}
.conteudo .produto .informacoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 25px;
    margin-bottom: 20px;
}
.conteudo .produto .botao{
    background-color: #004b2b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}