body{
    background-color: #e9e9e9ff;
    font-family: "Quicksand", sans-serif;
    height: 100vh;
}
.menu{
    background-color: #ee4d9fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    padding: 20px;
}
.menu .logo{
    display: flex;
}
.menu .logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 2% 5%;
}
.menu .logo .vie{
    width: 200px;
}
.menu .navegacao{
    margin: 0 20px;
}
.menu .navegacao .botoes{
    display: flex;
    gap: 30px;
}
.menu .navegacao .botoes li a{
    color: #fff;
    background-color: #f91f5bff;
    padding: 10px 30px;
    border-radius: 15px;
}
.menu .navegacao .botoes li a:hover{
    background-color: #fd5662;
    box-shadow: 0 0 20px #f91f5bff;
    cursor: pointer;
    transition: 0.3s ease-in-out
}
.rodape{
    background-color: #ee4d9fff;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    padding: 25px;
}
.rodape .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rodape .social{
    display: flex;
    align-items: center; 
}
.rodape .social .icones{
    display: flex;
    gap: 40px;
}
.rodape .social .icones a {
    color: #f91f5bff;
    font-size: 30px;
}