.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.conteudo .titulo{
    margin-bottom: 60px;
    color: #fff;
    font-size: 45px;
}
.conteudo .titulo:hover{
    transition: 0.3s ease-in-out;
    text-shadow: 0 6px 4px #fd5662;
    cursor: pointer;
}
.conteudo .card {
    background-color: rgba(42, 1, 71, 0.6);
    color: #fff;
    max-width: 880px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.conteudo .card .subtitulo,
.conteudo .card .texto{
    margin-bottom: 20px;
}
.conteudo .card .texto a{
    color:#fd5662;
}
