.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 465px);
}
.conteudo .titulo{
    margin-bottom: 60px;
    color: #f91f5bff;
    font-size: 45px;
}
.conteudo .titulo:hover{
    transition: 0.3s ease-in-out;
    text-shadow: 0 6px 4px #fd5662;
    cursor: pointer;
}
.conteudo .card {
    color: #fff;
    max-width: 880px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.conteudo .card .subtitulo,
.conteudo .card .texto{
    margin-bottom: 20px;
}
.conteudo .card .subtitulo{
    color: #f91f5bff;
}
.conteudo .card .texto{
    color: #000;
}
.conteudo .card .texto a{
    color:#fd5662;
}
